/*
/* CSS HEX */
--magnolia: #f1effaff;
--lavender-web: #e4e0f6ff;
--periwinkle: #d6d0f1ff;
--periwinkle-2: #c9c0ecff;
--tropical-indigo: #a091deff;
--iris: #5d43c7ff;
--tekhelet: #452f9fff;
--russian-violet: #1c1538ff;
--kelly-green: #5aab24ff;

/* CSS HSL */
--magnolia: hsla(251, 52%, 96%, 1);
--lavender-web: hsla(251, 55%, 92%, 1);
--periwinkle: hsla(251, 54%, 88%, 1);
--periwinkle-2: hsla(252, 54%, 84%, 1);
--tropical-indigo: hsla(252, 54%, 72%, 1);
--iris: hsla(252, 54%, 52%, 1);
--tekhelet: hsla(252, 54%, 40%, 1);
--russian-violet: hsla(252, 45%, 15%, 1);
--kelly-green: hsla(96, 65%, 41%, 1);

/* SCSS HEX */
$magnolia: #f1effaff;
$lavender-web: #e4e0f6ff;
$periwinkle: #d6d0f1ff;
$periwinkle-2: #c9c0ecff;
$tropical-indigo: #a091deff;
$iris: #5d43c7ff;
$tekhelet: #452f9fff;
$russian-violet: #1c1538ff;
$kelly-green: #5aab24ff;

/* SCSS HSL */
$magnolia: hsla(251, 52%, 96%, 1);
$lavender-web: hsla(251, 55%, 92%, 1);
$periwinkle: hsla(251, 54%, 88%, 1);
$periwinkle-2: hsla(252, 54%, 84%, 1);
$tropical-indigo: hsla(252, 54%, 72%, 1);
$iris: hsla(252, 54%, 52%, 1);
$tekhelet: hsla(252, 54%, 40%, 1);
$russian-violet: hsla(252, 45%, 15%, 1);
$kelly-green: hsla(96, 65%, 41%, 1);

/* SCSS RGB */
$magnolia: rgba(241, 239, 250, 1);
$lavender-web: rgba(228, 224, 246, 1);
$periwinkle: rgba(214, 208, 241, 1);
$periwinkle-2: rgba(201, 192, 236, 1);
$tropical-indigo: rgba(160, 145, 222, 1);
$iris: rgba(93, 67, 199, 1);
$tekhelet: rgba(69, 47, 159, 1);
$russian-violet: rgba(28, 21, 56, 1);
$kelly-green: rgba(90, 171, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-right: linear-gradient(90deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-bottom: linear-gradient(180deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-left: linear-gradient(270deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-top-right: linear-gradient(45deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-bottom-right: linear-gradient(135deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-top-left: linear-gradient(225deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-bottom-left: linear-gradient(315deg, #f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);
$gradient-radial: radial-gradient(#f1effaff, #e4e0f6ff, #d6d0f1ff, #c9c0ecff, #a091deff, #5d43c7ff, #452f9fff, #1c1538ff, #5aab24ff);


body {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: #464646;
    background-color: #fafafa;
   
}

.pl-5 {
    padding-left: 10% !important;
}

#main {
    padding-left: 24px;
    margin-top: 0px !important;
    height: 100%;
}

.background-white {
    width: 100%;
    border-radius: 36px;
    background-color: white;
    border: 1px #462f9f20 solid;
    margin-top: 40px;
    position: relative;
    padding: 16px;
}

.background-purple {
    width: 100%;
    border-radius: 36px;
    background-image: linear-gradient(to bottom, #462f9f, #856ce9) !important;
    color: white !important;
    border: 1px #462f9f20 solid;
    margin-top: 40px;
    position: relative;
    padding: 16px;
}

.background-purple a {
    color: white;
}

.background-purple a:hover {
    color: #e4e0f6;
}

.photo-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.mb-5 {
    margin-bottom: 80px !important;
}

.pt-4 {
    padding-top: 120px !important;
}

a {
    color: #452f9f;
   
}

.solutions ul {
    list-style: circle !important;
    padding-left: 16px;
}

.takes ul {
    list-style: circle  !important;
    color: #464646;
    padding-left: 0px !important;
    font-size: small;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    
}

.letter-list {
    list-style: upper-alpha ;
    margin-left: -22px;
}

.scrolling-wrapper .scrolling-item {
    display: inline-block;
    width: 90%;
    margin-right: 10px;
    background-color: #464646;
    padding: 20px;
}

.scrolling-item {
    border-radius: 24px !important;
}

.content-inventory {
    margin-left: -3% !important;
}

.transcripts {
    width: 70%;
}

.dropdown-menu {
    width: 99%;
    border-radius: 24px;
    border: none !important;
    background-color: transparent;
    padding: 8px;
}

.dropdown-item:hover {
    background-image: linear-gradient(to bottom, #462f9f30, #856ce930);
    border-radius: 24px;

}

.navbar-nav:hover {
    background-color: #f1effa !important;

}

.type-purple {
    color: #452f9f !important;
}

.side-nav {
    margin: -24px !important;
}

.custom-rounded-top {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.navbar-mobile {
    background-image: linear-gradient(to bottom, #462f9f0a, #856ce90a);
    border-bottom: 1px #4646463e solid ;
    
}

.navbar-brand img {
    width: 40px !important;
}

.navbar-brand {
    border-left: 1px rgba(255, 255, 255, 0) solid !important;
}

.navbar-brand:hover {
    background-image: linear-gradient(to bottom, #462f9f30, #856ce930);
    color: #1c1538 !important;
}

.navbar-brand:active {
    background-image: linear-gradient(to bottom, #462f9f20, #856ce920) !important;
    color: #1c1538 !important;
}

#sideNav {
    height: 100%;
    z-index: 200 !important;
    background-color: white;
    border-right: 1px #462f9f23 solid !important;
}

#sideNav h3 {
    font-size: 16px !important;
}
#sideNav h4 {
    font-size: 16px !important;
}



.icon {
    font-size: 16px !important;
    padding: 8px !important;
}
.icon img {
    width: 12px !important;
}

.mb-4 {
    margin-bottom: 60px !important;
}

.mb-3 {
    margin-bottom: 40px !important;
}

.mb-2 {
    margin-bottom: 16px !important;
}

.rounded-lg {
    border-radius: 24px !important;
}

a:hover {
    color: #452f9f;
    text-decoration: underline;
}


.navbar a:hover {
    color: #1c1538;
    text-decoration: none;
}

#methododlogies {
    background-image: linear-gradient(to bottom, #462f9f, #856ce9);
    color: white;
}

.card {
    background-color: #efefef;
}

.problem-card {
    padding: 16px;
    margin: 8px;
    background-image: linear-gradient(to bottom, #462f9f, #856ce9);
    color: white;
}

.title {
    position: absolute;
    top: 16px;
}


.btn-primary {
    width: 100%;
    background-color: #452f9f;
    border-radius: 12px;
}

.btn-primary:hover {
    background-color: #a091de;
    color: white;
    
}

.btn-secondary {
    background-color: transparent;
    color: #452f9f;
    border: none;
    border-radius: 0px;
    padding-left: 0px;
    position: absolute;
    bottom: 0;
}

.btn-secondary:hover {
    background-color: #e4e0f6;
    color: #452f9f;
    border-bottom: 1px #452f9f solid;
}


.featured-header {
    width: 100%;
    height: 400px;
    position: relative;
}

.overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.858);
    transition: 0.5s ease;
}

.overlay:hover {
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #462f9fd3;
    color: white;
    border-radius: 4px;
   
}

.featured-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    position: absolute;
}


.nav-link {
    text-decoration: none;
    flex-direction: column;
    color: #464646;
    list-style: none;
}



ul {
    list-style: none;
}


.navbar {
    gap: 8px;
}

.navbar div {
    width: auto;
    border-radius: 12px;

}

.navbar div:hover {
    background-image: linear-gradient(to bottom, #462f9f30, #856ce930) !important;
    color: #1c1538;
}

.navbar img {
    margin-top: -2px;
    margin-left: -8px;
    width: 20px;
    height: auto;
   
}

.navbar a {
   font-size: 1em;
   color: #464646;

}



.navTitle h3, .navTitle h4{
    font-size: 18px;
}

#main {
    margin-left: 16%;
}

.footInfo {
    position: absolute;
    bottom: 0;
}

.footInfo p {
    font-size: 16px;
}

.item {
    padding-top: 8px;
    width: 100%;
    height: auto;
    align-content: center;
}

.item:hover {
    background-color: #c9c0ec;
    border-radius: 16px;
    color: #452f9f;
    border-radius: 24px;
}

.item h4:hover {
    color: #452f9f;
}

.dropdown {
    width: 95%;
    height: auto !important;
    padding: 6px;
    border-radius: 6px;
}

.dropdown a {
    color: #464646;
}


.custom-button {
    width: 100%;
    background-image: linear-gradient(to top, #a091deff, #856ce910);
    padding: 8px;
    font-size: .8em;
}



.custom-button:hover {
    background-image: linear-gradient(to bottom, #462f9f50, #856ce950);
}

.dropdown-toggle:focus {
    border-bottom: 1px #464646 solid;
    
}

.dropdown-item {
    border: none;
}

.icon-tools {
    width: 40px !important;
}

.cs-container {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.under-line {
    border-bottom: 1px #4646463e solid;
}

.blockquotes {
    border-right: 1px #464646 solid;
}

blockquote {
    height: 200px;
    position: relative;
   
}

blockquote footer {
    position: absolute;
    bottom: 0;
    
}

.nav-justified {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 8px 0px;
}

.margin-top  {
    margin-top: 40px;
}
.margin-header {
    margin-top: 120px;
}

.jumbtron img {
    border-radius: 8px;
}

#navbar-example2 {
    height: 100px;
    width: 100%;
    padding-right: 20% !important;
    margin-top: -10px !important;
    background-color: white;
    border-bottom: 1px #462f9f35 solid !important;
    position: fixed;
    padding-bottom: 16px;
    font-size: .8em;
    z-index: 100 !important;
    border-bottom-left-radius: 24px;
}

.social-link img {
    display: block;
    justify-content: center;
}

#scrollspyHeading1, #scrollspyHeading2, #scrollspyHeading3, #scrollspyHeading4, #scrollspyHeading5 {
    border-bottom: 1px #46464628 solid;
    padding: 16px;
}
.nav-link.active {
    background-color: #452f9f !important;
    
}

.nav-link:not(:last-child) {
    margin-right: 16px;
}


.page-active {
    background-image: linear-gradient(to bottom, #462f9f20, #856ce920) !important;
    color: #452f9f;
    border-radius: 8px;
}

/*Imported -----------------*/
/*Index*/
.title-header {
    padding-top: 60px;
    
}

em {
    color: #452f9f;
    font-style: normal;
}

.button1, .button2 {
    width: auto;
    border-radius: 50px;
    padding: 4px 24px;
    border: none;
    margin-right: 16px;
    color: #464646;
}

.button1 {
    background-color: #1c1538;
    color: white;
    margin-right: 16px;
}

.button2 {
    background-color: #f1effa ;
}

.button1:hover, .button2:hover {
    background-image: linear-gradient(to bottom, #462f9f, #856ce9);
    color: white;
}

.whyMe {
    width: 100%;
    background-image: linear-gradient(to bottom, #462f9f, #856ce9);
    color: white;
}

.whyMe h2 {
    margin-bottom: 24px;
}

.whyMeIcons div {
    margin-bottom: 40px;
    gap: 16px;
    
}

.service-card {
    padding: 16px;
    margin: 8px;
    background-color: white;
    color: #464646;

}

.reg-card {
    padding: 16px;
    margin: 8px;
    background-color: white;
    color: #464646;
    
}


.services h2 {
    margin-bottom: 24px;
}

.more-projects {
    padding: 0px;
    margin: 8px;
}

.nav-item div {
    width: 100% !important;
    height: auto;   
}

.nav-item img {
    width: 18px;
}

.more-projects img {
    object-fit: cover;
}

#connected {
    border: 1px #452f9f solid;
    display: flex !important;
    justify-content: space-between !important;
    width: 50%;
    height: 80px;
}


.tesimonial-container {
    padding: 16px;
    margin: 8px;
}

.footer-type p {
    font-size: .7em;
}

.jumbotron {
    width: 100%;
    border-radius: 24px;
    background-color: white;
    border: 1px #462f9f20 solid;
    margin-top: 100px;
    position: relative;
}

.jumbotron img {
    width: 100%;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 16px;
}

#case-study-grids {
    z-index: 1 !important;
}

.nav-counter {
    width: 100%;
    height: auto;
    padding-top: 200px;

    margin: 24px 0px;
}
.scrollspy-example div {
    padding-top: 100px;
}
.margin-top img {
    margin-top: -60px;
}

.about-sub {
    padding-left: 24px;
}

#hey-yall {
    padding-left: 24px;
}

.g-5 {
    gap: 8px;
}

.gallery {
    border: 1px #452f9f solid;
    color: #464646;
    
}
.gallery h2 {
    padding-left: 0px;
    background-color: transparent;
}
.gallery a {
    text-decoration: underline;
    color: #452f9f;
    position: absolute;
    bottom: 20px;
}
.gallery img {
    object-fit: cover;
}


.social-blocks {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    
}

.core-container {
    color: #464646;
}



.social-logos {
    
    margin-bottom: 16px;
}

.social-blocks img {
    
    margin: 16px;
}


.contactForm {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    border: 1px #462f9f26 solid;
    color: #464646;
    padding: 32px;
  
  }
  .formTop {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
  
  #name, #email {
    width: 100%;
  }
  
  #message {
    height: 100px;
  }
  
  label { 
    display: block; margin-bottom: 5px; }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: .5px solid #4646464d;
    box-sizing: border-box;
    border-radius: 8px;
    }
  
  input[type="submit"] {
    width: 25%;
    background-color: none;
    color: #464646;
    padding: 12px 20px;
    border: .5px solid #464646;
    border-radius: 8px;
    cursor: pointer;
    }
  
  input[type="submit"]:hover {
    background-color: #462f9f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    }  


.skills-header {
    border-bottom: 1px #462f9f46 solid;
}

.contact {
    width: 50%;
    height: 80px;
    border: 1px #452f9f solid;
    border-radius: 50px !important;
}


@media (min-width: 577px) and (max-width: 767px) {
    .icon img {
        display: none !important;
    }

    

}


@media (min-width: 768px) and (max-width: 1050px) {
    
  

    .icon {
        font-size: 12px !important;
        padding: 0px !important;
    }
    .icon img {
        width: 14px !important;
    }
}

@media (max-width: 767px) {
    #main {
        margin-top: 80px !important;
        margin-left: 0px;
    }
    
    .navTitle {
        margin-bottom: 0px;
    }

    .logo {
        margin-bottom: 0px;
    }

    h3, h4 {
        font-size: .8em;
    }

    #navbar-example2 {
        height: auto !important;
        width: 100%;
        position: fixed;
        padding-bottom: 8px;
        font-size: .8em;
        z-index: 100 !important;
        border-bottom-left-radius: 24px;
    }
    .margin-header {
        margin-top: 140px;
    }
}
   

@media (min-width: 768px) {
    .navbar {
        border-bottom: none !important;
    }
}